{% extends 'layout.html' %}

{% block body %}
    <header class="masthead" style="background-image: url('static/img/star-sky.jpg');">
        <div class="container">
            <div class="intro-text" style="height: 338px;padding: 100px 0px 50px;">
                <div class="intro-lead-in"><span><strong>¡Estas dentro!</strong><br></span></div>
                <a href="/" style="color: white"><div class="btn btn-primary btn-block">Volver a intentar</div></a>
            </div>
        </div>
    </header>
    {% endblock %}